<div class="budget-view" fxLayout="column" fxLayoutAlign="center none">
  <mat-card *ngIf="activeBudget">
    <mat-card-title> </mat-card-title>
    <mat-card-content class="budget-info" fxLayout="row" fxLayout.xs="column">
      <div class="month" fxFlex="50">
        {{ this.displayMonth }}
      </div>
      <div class="" fxFlex="40" fxFlex.xs="100">
        <div
          class="balance"
          [ngClass]="{ positive: activeBudget.balance >= 0, negative: activeBudget.balance < 0 }"
        >
          {{ activeBudget.balance | number: '1.2' }}
        </div>
        <div class="minor-balance" fxLayout="column">
          <div fxFlex="50">
            Budgeted : {{ month.budgeted | number: '1.2' }}
          </div>
          <div fxFlex="50">
            Income : {{ month.income | number: '1.2' }}
          </div>
          <div fxFlex="50">
            Expense : {{ month.expense | number: '1.2' }}
          </div>
        </div>
      </div>
      <div class="menu-button" fxFlex="10">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onNewBudget()">
            <span>New Budget</span>
          </button>
          <button
            mat-menu-item
            *ngFor="let budget of budgetList; index as i"
            (click)="onBudgetActivate(budget.id)"
          >
            <span>{{ budget.name }}</span>
          </button>
          <button mat-menu-item (click)="onFreshStart()">
            <span>Fresh Start</span>
          </button>
        </mat-menu>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="basic" type="button" (click)="onPrevMonth()">
        Previous Month
      </button>
      <button mat-raised-button color="basic" type="button" (click)="onNextMonth()">
        Next Month
      </button>
      <button mat-raised-button color="basic" type="button" (click)="onRecalculate()">
        Re-Calculate
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- header -->
  <br />
  <div class="add-button">
    <a mat-fab [routerLink]="['/app/category/add']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <mat-card *ngIf="loading$ | async">
    <mat-card-content>
      <mat-progress-spinner
        class="example-margin"
        diameter="30"
        [color]="accent"
        [mode]="'indeterminate'"
      >
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
  <mat-card class="budget-view" *ngIf="month?.categories">
    <mat-card-content>
      <mat-list>
          <div *ngFor="let category of month.categories; trackBy: trackCategory">
            <mat-list-item
              *ngIf="category.type != 'income'"
              [ngClass]="checkIsHeader(category) ? 'header' : 'category'"
            >
              <div fxLayout="row" fxLayoutGap="10px" fxFlexFill fxLayoutAlign="center center">
                <div fxFlex="65" fxFlex.xs="70" fxLayout="row" fxFlexAlign="center">
                  <mat-icon color="primary" class="handle" fxHide.xs>drag_indicator</mat-icon>
                  <a
                    [routerLink]="['/app/transactions', { categoryId: category.id }]"
                    class="routerLink"
                    >{{ category.name }}</a
                  >
                </div>
                <div class="planned-input" fxFlex="10" fxHide.xs>
                  <div fxFlex="100">
                    <input
                      matInput
                      type="number"
                      name="planned"
                      class="text-right"
                      [ngModel]="category.planned"
                      (ngModelChange)="update(category, $event)"
                      (blur)="blur(category)"
                      (focus)="focus(category)"
                      tabindex=""
                    />
                  </div>
                </div>
                <div class="actual text-right" *ngIf="category.parent != ''" fxFlex="15" fxHide.xs>
                  <span>
                    {{ category.actual | number: '1.2' }}
                  </span>
                </div>
                <div class="actual text-right" *ngIf="category.parent == ''" fxFlex="15" fxHide.xs>
                  <span>
                    &nbsp;
                  </span>
                </div>
                <div
                  class="balance text-right"
                  *ngIf="category.parent != ''"
                  fxFlex="15"
                  fxFlex.xs="30"
                >
                  {{ category.balance | number: '1.2' }}
                </div>
                <div class="balance text-right" *ngIf="category.parent == ''" fxFlex="15">
                  &nbsp;
                </div>
              </div>
            </mat-list-item>
          </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
