<navi-bar></navi-bar>
<mat-sidenav-container>
  <mat-sidenav class="side-nav" #sidenav [mode]="sideNavState.mode" [(opened)]="sideNavState.opened" >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/app/budget', currentMonth]" routerLinkActive="active"> Budget </a>
      <a mat-list-item routerLink="/app/accounts" routerLinkActive="active"> Accounts </a>
      <mat-nav-list>
        <a mat-list-item routerLink="/app/transactions?accountId={{account.id}}"
          *ngFor="let account of accounts | async"
          routerLinkActive="active">
          <div>{{account.name}}</div>
          <span class="small">{{account.balance | currency: 'ZAR' : 'symbol-narrow'}}</span>
        </a>
      </mat-nav-list>

      <a mat-list-item [routerLink]="['/app/transactions']">Transactions</a>
    </mat-nav-list>
    <div *ngIf="theUser">
      <a mat-button [routerLink]="['/app/budgetview']">Budgets</a>
      <a mat-button [routerLink]="['/app/transactions']">Transactions</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button color="primary" (click)="sidenav.toggle()" *ngIf="sideNavState.mode === 'over'">
      Show Sidebar
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
