@import "../../../styles";

router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.mat-drawer-container {
  min-height: 800px;
}

.side-nav {
  width: 250px;
  border-right: 1px solid lighten(mat-color($candy-app-primary), 50%);

  
  .small {
    clear: both;
    font-size: 80%;
  }

  .primary-text {
    color: black;
  }

  .secondary-text {
    color: red;
  }
}
