@import "../../../styles";

.container {
  padding: 10px;
}

.header {
  background: mat-color($candy-app-accent);
  color: mat-contrast($candy-app-accent,500) !important;
}

.budget-view .name {
  order: 1;
  width: 40%;
}

.budget-view .planned-input {
  order: 2;
  width: 20%;
}

.budget-view .actual {
  order: 3;
  width: 20%;
}

.budget-view .balance {
  order: 4;
  width: 20%;
}
