
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center none" style="padding: 0 20px">
      <div fxFlex="100">
          <div class="page-header">
            <h2></h2>
          </div>

          <mat-card>
            <mat-card-title>
              {{ this.selectedMonth.format("MMMM 'YY")}}
            </mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item>Available : {{ totalAvailable | number: '1.2'}}</mat-list-item>
                <mat-list-item>Income : {{ totalIncome | number: '1.2'}}</mat-list-item>
                <mat-list-item>Expense : {{ totalExpense | number: '1.2'}}</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>

          <!-- header -->
          <br>
          <mat-card class="budget-view">
            <mat-card-content>
              <a mat-fab [routerLink]="['/category/add']">
                <mat-icon>add</mat-icon>
              </a>

              <mat-list>
                <div class="ngx-dnd-container">
                <ngx-dnd-container [model]="sortList" (drop)="log($event)" class="sucker">
                  <ng-template let-item="model" let-template="template">
                    <mat-list-item *ngIf="item.type != 'income'" [ngClass]="{'header': checkIsHeader(item)}">
                      <div class="name">
                        <a mat-icon-button [routerLink]="['/category/'+item.$key]">
                          <mat-icon color="primary">edit</mat-icon>
                        </a> {{item.name}}
                      </div>
                      <div class="planned-input text-right" *ngIf="item.allocations">
                        <mat-form-field *ngIf="item.parent != ''">
                          <input matInput
                            type="number"
                            name="planned"
                            class="text-right"
                            [(ngModel)]="item.allocations['201801'].planned"
                            (blur)="blur(item)"
                            (focus)="focus(item)">
                        </mat-form-field>
                      </div>
                      <div *ngIf="item.allocations" class="actual text-right">
                        {{item.allocations['201801'].actual | number:'1.2'}}
                      </div>
                      <div class="balance text-right" *ngIf="item.parent != ''">
                        {{item.balance | number:'1.2'}}
                      </div>

                    </mat-list-item>

                  </ng-template>
                </ngx-dnd-container>
                </div>
              </mat-list>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
