@import '../../../styles';

.header {
  background: mat-color($candy-app-accent);
  color: mat-contrast($candy-app-accent, 500) !important;
  a {
    color: mat-contrast($candy-app-primary, 500) !important;
    text-decoration: none;
  }
}

.category {
  border-bottom: 1px solid mat-color($candy-app-accent);
  a {
    color: mat-contrast($candy-app-accent, 500) !important;
    text-decoration: none;
  }
}

.handle {
  cursor: move;
}

.budget-view {
  padding: 10px;

  .budget-info {
    .month {
      font-size: 300%;
      font-weight: bolder;
    }
    .balance {
      font-size: 300%;
      text-align: right;
      &.positive {
        color: GREEN;
      }
      &.negative {
        color: RED;
      }
    }

    .minor-balance {
      text-align: right;
    }

    .menu-button {
      text-align: right;
    }
  }

  .planned-input {
    input {
      padding: 5px;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      width: 100%;
    }
  }
}
