<!-- 3month view -->
<navi-bar></navi-bar>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="page-header">
        <h3>Accounts <small></small></h3>
      </div>
    </div>
    <div class="col-xs-9">
      <!-- page-header -->
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="page-header">
            <h2>{{ this.selectedMonth.format("MMMM 'YY")}}</h2>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <ul class="list-group">
            <li class="list-group-item text-right">Available : {{ totalAvailable | number: '1.2'}}</li>
            <li class="list-group-item text-right">Income : {{ totalIncome | number: '1.2'}}</li>
            <li class="list-group-item text-right">Expense : {{ totalExpense | number: '1.2'}}</li>
          </ul>
        </div>
      </div>
      <!-- header -->
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="text-right">
                Planned
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="text-right">
                Actual
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="text-right">
                Balance
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- catlist -->
      <div class="row" *ngFor="let item of allocations | async" style="background: #eee; border-bottom: 1px solid #666;">
        <div *ngIf="item.type != 'income'">
          <div class="col-xs-4">
            {{item.name}}
          </div>
          <div class="col-xs-8">
            <div class="row" style="padding: 5px 0;">
              <div class="col-xs-12 col-sm-4">
                <input type="text" name="planned" class="form-control text-right" [(ngModel)]="item.planned" (blur)="blur(item)" (focus)="focus(item)">
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="text-right">
                  {{item.actual | number:'1.2'}}
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="text-right">
                  {{item.balance | number:'1.2'}}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
