<!-- 3month view -->
<navi-bar></navi-bar>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- page-header -->

      <div class="page-header">
        <h2></h2>
      </div>

      <md-card>
        <md-card-title>
          {{ this.selectedMonth.format("MMMM 'YY")}}
        </md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item>Available : {{ totalAvailable | number: '1.2'}}</md-list-item>
            <md-list-item>Income : {{ totalIncome | number: '1.2'}}</md-list-item>
            <md-list-item>Expense : {{ totalExpense | number: '1.2'}}</md-list-item>
          </md-list>
        </md-card-content>

      </md-card>

      <!-- header -->
      <br>
      <md-card class="budget-view">
        <md-card-content>
          <a md-fab [routerLink]="['/category/add']">
            <md-icon>add</md-icon>
          </a>

          <md-list>
            <div class="ngx-dnd-container">
            <ngx-dnd-container [model]="sortList" (drop)="log($event)" class="sucker">
              <ng-template let-item="model">
                <md-list-item *ngIf="item.type != 'income'" [ngClass]="{'header': checkIsHeader(item)}">
                  <div class="name">
                    <a md-icon-button [routerLink]="['/category/'+item.$key]">
                      <md-icon color="primary">edit</md-icon>
                    </a> {{item.name}}
                  </div>
                  <div class="planned-input">
                    <md-input-container *ngIf="item.parent != ''">
                      <input mdInput type="number" name="planned" class="text-right" [(ngModel)]="item.planned" (blur)="blur(item)" (focus)="focus(item)">
                    </md-input-container>
                  </div>
                  <div class="actual text-right" *ngIf="item.parent != ''">
                    {{item.actual | number:'1.2'}}
                  </div>
                  <div class="balance text-right" *ngIf="item.parent != ''">
                    {{item.balance | number:'1.2'}}
                  </div>

                </md-list-item>
              </ng-template>
            </ngx-dnd-container>
            </div>
          </md-list>
        </md-card-content>
      </md-card>

      <!-- catlist -->
      <!-- <md-card class="budget-view">
        <md-card-title style="padding: 0 16px;">
          <div class="name">

          </div>
          <div class="planned-input text-right">
            Planned
          </div>
          <div class="actual text-right">
            Actual
          </div>
          <div class="balance text-right">
            Balance
          </div>
        </md-card-title>
        <md-card-content>
          <md-list>
            <div *ngFor="let item of allocations | async">
              <md-list-item *ngIf="item.type != 'income'" [ngClass]="{'header': checkIsHeader(item)}">
                <div class="name">
                  {{item.name}}
                </div>
                <div class="planned-input">
                  <md-input-container *ngIf="item.parent != ''">
                    <input mdInput type="number" name="planned" class="text-right" [(ngModel)]="item.planned" (blur)="blur(item)" (focus)="focus(item)">
                  </md-input-container>
                </div>
                <div class="actual text-right" *ngIf="item.parent != ''">
                  {{item.actual | number:'1.2'}}
                </div>
                <div class="balance text-right" *ngIf="item.parent != ''">
                  {{item.balance | number:'1.2'}}
                </div>

              </md-list-item>
              <md-divider *ngIf="item.type != 'income'"></md-divider>
            </div>
          </md-list>
        </md-card-content>

      </md-card> -->



    </div>
  </div>
