@import "../../../styles";

.header {
  background: mat-color($candy-app-accent);
  color: mat-contrast($candy-app-accent,500) !important;
}

.handle {
  cursor: move;
}

.budget-view {
      .mat-form-field-infix {
        width: 80px;
      }
  /deep/ .ngx-dnd-container {
      border: none !important;
      padding: 0;
      margin: 0;

      &:nth-child(odd){
        background: transparent;
      }

      .ngx-dnd-item {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
      }

  }
}
