.category-card {
  font-size: 16px;
  ::ng-deep .mat-card-content {
    font-size: 16px;
    .mat-form-field, .mat-select {
      width: 100%;
    }
  }
  section {
    height: 70px;
    width: 100%;
  }

}
