<md-toolbar color="primary">
  <md-icon>menu</md-icon>

  <a md-button [routerLink]="['/']">Budgalope</a>
  <div *ngIf="theUser">
    <a md-button [routerLink]="['/budgetview']">Budgets</a>
    <a md-button [routerLink]="['/transactions']">Transactions</a>
  </div>
  <div *ngIf="!theUser">
    <a md-button [routerLink]="['/features']">Features</a>
    <a md-button [routerLink]="['/pricing']">Pricing</a>
  </div>
  <div *ngIf="!theUser" style="float: right">
    <a md-button [routerLink]="['/login']">Log In <md-icon>login</md-icon></a>
  </div>
  <div *ngIf="theUser" style="float: right">
    <a md-button href (click)="logout()">{{theUser}}</a>
  </div>
</md-toolbar>
