<md-toolbar color="primary">
<md-icon>menu</md-icon>

  <a [routerLink]="['/']">Budgalope</a>
  <div  *ngIf="theUser">
  <a md-button [routerLink]="['/budgetview/test']">Budgets</a>
  <a md-button [routerLink]="['/accounts']">Accounts</a>
  <a md-button [routerLink]="['/transactions']">Transactions</a>
  <a md-button [routerLink]="['/categories']">Categories</a>
  </div>
  <div  *ngIf="!theUser">
    <a [routerLink]="['/features']">Features</a>
    <a [routerLink]="['/pricing']">Pricing</a>
  </div>
  <div *ngIf="!theUser" style="float: right">
    <a md-button [routerLink]="['/login']">Log In <md-icon>login</md-icon></a>
  </div>
  <div *ngIf="theUser" style="float: right">
    <a md-button href (click)="logout()">{{theUser}}</a>
  </div>
</md-toolbar>
