<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let budget of budgets">
      <td>{{ budget.name }}</td>
      <td>
        <a class="btn btn-info" [routerLink]="['/budgetview/'+budget.id]">
          <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a (click)="editAccount(budget)" class="btn btn-warning">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a (click)="deleteAccount(budget)" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
