.transaction-card {
  ::ng-deep .mat-card-content {
    font-size: 16px;

    .mat-form-field,
    .mat-select {
      // width: 100%;
    }
  }

  .cdk-overlay-pane {
    max-width: none !important;
    width: auto !important;
  }
}
.flex-object {


}
