<navi-bar></navi-bar>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="form" *ngIf="transaction">
        <mat-card class="transaction-card">
          <mat-card-title>
            Transaction
          </mat-card-title>
          <mat-card-content>
            <section>
              <mat-radio-group [(ngModel)]="transaction.type" name="type">
                <mat-radio-button [value]="'expense'">Spend</mat-radio-button>
                <mat-radio-button [value]="'income'">Earn</mat-radio-button>
              </mat-radio-group>
            </section>
            <section>
              <mat-input-container>
                <input mdInput placeholder="Amount" value="" type="number" [(ngModel)]="transaction.amount" name="amount">
              </mat-input-container>
            </section>
            <section>
              <mat-input-container>
                <input mdInput placeholder="Payee" value="" type="text" [(ngModel)]="transaction.payee" name="payee">
              </mat-input-container>
            </section>
            <section>
              <mat-input-container>
                <input type="text" mdInput placeholder="Category" [matAutocomplete]="auto" [formControl]="catCtrl">
              </mat-input-container>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                  <span *ngIf="category.parent">{{category.parent}} ></span>{{category.name}}
                </mat-option>
              </mat-autocomplete>
            </section>
            <section>
              <mat-select placeholder="Account" [(ngModel)]="transaction.account" name="account">
                <mat-option [value]="account" *ngFor="let account of accounts | async">
                  {{account.name}}
                </mat-option>
              </mat-select>
            </section>
            <section>
              <mat-checkbox [(ngModel)]="transaction.cleared" name="cleared" [align]="end">
                Cleared
              </mat-checkbox>
            </section>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="saveTransaction()">
              Save Transaction
            </button>
            <button mat-raised-button color="warn" type="button" (click)="cancel()">
              Cancel
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
