.transaction-card {
  /deep/ .mat-card-content {
    font-size: 16px;

    .mat-input-container,
    .mat-select {
      // width: 100%;
    }
  }

  .cdk-overlay-pane {
    max-width: none !important;
    width: auto !important;
  }
}
