<div>
  <div>
    <form class="form" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <mat-card class="transaction-card">
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="10px" fxFlexFill>

            <mat-form-field fxFlex="20">
              <mat-select placeholder="Account" name="account" formControlName="account" required>
                <mat-option>--</mat-option>
                <mat-option [value]="account" *ngFor="let account of accounts">
                  {{account.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="20">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="60">
              <input matInput placeholder="Payee" value="" type="text" name="payee" formControlName="payee" required>
            </mat-form-field>

          </div>

          <div formArrayName="categories">
            <div fxLayout="row" fxLayoutGap="10px" fxFlexFill
                *ngFor="let categoryControl of getControls(); let i = index"
                [formGroupName]="i">
              <mat-form-field fxFlex="50">
                <mat-select placeholder="Category" required formControlName="category">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="25">
                <input matInput placeholder="Out" type="number" name="out" formControlName="out">
              </mat-form-field>

              <mat-form-field fxFlex="25">
                <input matInput placeholder="In" type="number" name="in" formControlName="in">
              </mat-form-field>

            </div>
          </div>
        </mat-card-content>
        <mat-checkbox name="cleared" [labelPosition]="end" formControlName="cleared">
          Cleared
        </mat-checkbox>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" (click)="saveTransaction()" [disabled]="!transactionForm.valid">
              Save Transaction
            </button>
          <button mat-raised-button color="basic" type="button" (click)="onAddCategory()">
              Split
            </button>
          <button mat-raised-button color="warn" type="button" (click)="cancel()">
              Cancel
            </button>

        </mat-card-actions>
      </mat-card>
    </form>
  </div>

</div>
