<navi-bar></navi-bar>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Categories <small></small><a [routerLink]="['/category/add']" class="btn btn-success">Add Category</a></h1>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories | async">
            <td>{{category.name}} {{' :: ' + category.parent}}</td>
            <td class="text-right">{{category.balance | number:'1.2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
