.category-card {
  font-size: 16px;
  /deep/ .mat-card-content {
    font-size: 16px;
    .mat-input-container, .mat-select {
      width: 100%;
    }
  }
  section {
    height: 70px;
    width: 100%;
  }

}
