<navi-bar></navi-bar>
<div class="container">
  <form class="form" action="index.html" method="post">
    <md-card class="category-card">
      <md-card-title>
        Category
      </md-card-title>
      <md-card-content>
        <section>
          <md-input-container>
            <input mdInput type="text" placeholder="Category name" [(ngModel)]="category.name" name="name" #nm="ngModel">
          </md-input-container>
        </section>
        <section>
          <md-select placeholder="Parent Category" [(ngModel)]="category.parent" name="parent">
            <md-option *ngFor="let category of categories" [value]="category">
              {{category.name}}
            </md-option>
          </md-select>
        </section>
        <section>
          <md-radio-group [(ngModel)]="category.type" name="type">
            <md-radio-button [value]="'expense'">Spend</md-radio-button>
            <md-radio-button [value]="'income'">Earn</md-radio-button>
          </md-radio-group>
        </section>
      </md-card-content>
      <md-card-actions>
        <button type="button" md-raised-button color="primary" (click)="saveCategory()">
          Save
        </button>
        <button type="button" md-button (click)="cancel()">
          Cancel
        </button>
      </md-card-actions>
    </md-card>
  </form>
</div>
