<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Accounts <small>
          <a [routerLink]="['/app/account/add']" class="btn btn-success">Add Account</a>
        </small></h1>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Current Balance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts | async">
            <td>{{ account.name }}</td>
            <td>{{ account.balance | currency:'ZAR':'symbol-narrow' }}</td>
            <td>
              <a (click)="editAccount(account)" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a (click)="deleteAccount(account)" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
