<div class="container">
  <div class="row">
    
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">Budget Name</label>
        <input type="text" class="form-control" placeholder="" formControl="name">
        <p class="help-block">Short name for the budget.</p>
      </div>
      <div class="btn-group btn-group">
        <button type="submit" class="btn btn-default" [disabled]="form.isValid">
          Save
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
