<div fxLayout="column" fxLayoutGap="10px" fxFlexFill style="padding: 10px">
  
  <button
    mat-mini-fab
    class="add-transaction-button"
    color="warn"
    (click)="openTransactionModal()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div class="page-header">
    <h3>
      Transactions
      <span *ngIf="account">for {{ account.name }}</span>
    </h3>
    <app-transaction *ngIf="showTransaction"></app-transaction>
  </div>
  
  <mat-card>
    <mat-card-content>
      <div
        *ngIf="account"
        fxLayout.xs="column"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="end center"
      >
        <div>
          Cleared: <b>{{ account.clearedBalance | currency: 'R' }}</b>
        </div>
        <div>
          Uncleared:
          <b
            >{{ account.clearedBalance - account.balance | currency: 'R' }}
          </b>
        </div>
        <div>
          Working: <b>{{ account.balance | currency: 'R' }}</b>
        </div>

        <div>
          <mat-slide-toggle
            color="primary"
            [(ngModel)]="showCleared"
            (change)="onFilterClearedToggle()"
          >
            Show Cleared
          </mat-slide-toggle>
        </div>
        <div>
          <button
            *ngIf="account"
            mat-stroked-button
            color="accent"
            (click)="openImportDialog()"
          >
            <mat-icon>import_export</mat-icon> Import
          </button>
        </div>
        <div>
          <button
            *ngIf="account"
            mat-stroked-button
            color="accent"
            (click)="openAccountDialog()"
          >
            <mat-icon>settings</mat-icon> Settings
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="transaction-table">
    <mat-card-content>
      <div *ngIf="loading$ | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{
            transaction.date | date: 'MMM d, y'
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="payee">
          <mat-header-cell *matHeaderCellDef>Payee</mat-header-cell>
          <mat-cell *matCellDef="let transaction" class="payee">{{
            transaction.payee
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
          <mat-cell *matCellDef="let transaction">
            <span *ngIf="transaction.categories">
              {{ displayCategories(transaction.categories) }}
            </span>
            
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="out">
          <mat-header-cell *matHeaderCellDef>Out</mat-header-cell>
          <mat-cell *matCellDef="let transaction" style="text-align: right">
            <span *ngIf="transaction.amount < 0">
              {{ transaction.amount | number: '1.2' }}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="in">
          <mat-header-cell *matHeaderCellDef>In</mat-header-cell>
          <mat-cell *matCellDef="let transaction" style="text-align: right">
            <span *ngIf="transaction.amount > 0">
              {{ transaction.amount | number: '1.2' }}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cleared">
          <mat-header-cell *matHeaderCellDef>Cleared</mat-header-cell>
          <mat-cell *matCellDef="let transaction" class="cleared-box">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? toggleCleared(transaction) : null"
              [checked]="transaction.cleared"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selectedRow(row)"
        ></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
