<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Transactions</h1>
        <a mat-mini-fab [routerLink]="['/budgetview/transaction/add']" class="btn btn-success">
          <mat-icon>add</mat-icon>
        </a>
      </div>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{transaction.date | date: 'MMM d, y'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="payee">
          <mat-header-cell *matHeaderCellDef>Payee</mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{transaction.payee}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="account">
          <mat-header-cell *matHeaderCellDef>Account</mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{transaction.account}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{transaction.category}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
          <mat-cell *matCellDef="let transaction">{{transaction.amount}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
  </div>
</div>
