.cleared-box {
    padding-left: 24px;
}

@media screen and (max-width: 599px){
    .transaction-table {
        padding-top: 5px;
    }
    mat-header-row {
        display: none;
    }
    mat-row {
        flex-direction: column;
        flex-flow: wrap;
    }
    mat-cell {
        flex: 1 0 50%;
        min-height: 24px;
    }
    mat-cell:first-child {
        padding-left: 0;
    }
    .mat-column-date {
        font-size: 0.9em;
        order: 5;
    }
    .mat-column-account {
        order: 3;
    }
    .mat-column-payee {        
        order: 4;
    }
    .mat-column-category {        
        font-size: 1.2em;
        order: 0;
    }
    .mat-column-in {
        flex: 1 0 25%;
        font-weight: bold;
        order: 1;
        justify-content: flex-end;
    }
    .mat-column-out {
        flex: 1 0 25%;
        font-weight: bold;
        order: 2;
        justify-content: flex-end;
    }
    .mat-column-cleared {
        display: none;
    }
}