/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #363;
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  font-weight: bold;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
